extends ../layout

block content
	.container-fluid(style="text-align: center")
		form.well(action="/api/login", method='post')
			.control-group
				label.control-label Primary Contact Email
				input(type="text", name="email", placeholder="example@gmail.com")
			.control-group
				label.control-label Password
				input(type="password", name="pass", placeholder="•••••••••••")
			.control-group
				input.btn.btn-primary.btn-large(type="submit")
				br
				a.control-label(href="/account/signup") Need to Signup?

