if group
	.container-fluid
		h4 Your Information
		p Email: #{group.email}
		p Name: #{group.name}
		p Phone: #{group.phone}
		p Unique ID: #{group._id}
		form(action="/api/logout", method='post')
			input.btn.btn-inverse(type="submit", value="Logout?")
else
	.container-fluid
		form(action="/api/login", method='post')
			.control-group
				label.control-label Primary Contact Email
				input(type="text", name="email", placeholder="example@gmail.com")
			.control-group
				label.control-label Password
				input(type="password", name="pass", placeholder="•••••••••••")
			.control-group
				input.btn.btn-primary.btn-block(type="submit")
				a.control-label(href="/account/signup") Need to Signup?
