extends ../layout

block content
	.row-fluid
		h1 Register
		form.form-horizontal(action="/api/signup", method='post')
			fieldset
				legend Login Information
				p This information should reflect the email and password of <b>your group's primary contact.</b>
				p Please keep this information in a safe place.
				.well
					.control-group
						label.control-label Email
						.controls
							input(type="text", name="email", placeholder="Email", required)
					.control-group
						label.control-label Password
						.controls
							input(type="password", name="pass", placeholder="Pass", required)
					.control-group
						label.control-label Password (again!)
						.controls
							input(type="password", name="passConfirm", placeholder="Pass Confirmation", required)

			fieldset
				legend Primary Contact Information
				p Each Group requires a primary contact. They will be the primary point of contact for information, payment, and announcements important for all delegates to receive.
				p It is <b>not</b> assumed that this person will be attending. If you are the group contact, and plan on attending, please add yourself to the relevant group after registration.
				.well
					.control-group
						label.control-label Name
						.controls
							input(type="text", name="name", placeholder="Name", required)
					.control-group
						label.control-label Phone #
						.controls
							input(type="text", name="phone", placeholder="Phone", required)

			fieldset
				legend Group Information
				p If you are representing an organization, please fill out the following for your organization.
				p Are you an individual? Please fill out your personal information here, feel free to make up your own name for 'Affiliation.'
				.well
					.control-group
						label.control-label Affiliation
						.controls
							input(type="text", name="affiliation", placeholder="Affiliation", required)
					.control-group
						label.control-label Address
						.controls
							input(type="text", name="address", placeholder="Address", required)
					.control-group
						label.control-label City
						.controls
							input(type="text", name="city", placeholder="City", required)
					.control-group
						label.control-label Province
						.controls
							input(type="text", name="province", placeholder="Province", required)
					.control-group
						label.control-label Postal Code
						.controls
							input(type="text", name="postalCode", placeholder="Postal Code", required)
					.control-group
						label.control-label Fax
						.controls
							input(type="text", name="fax", placeholder="Fax")

			br
			input.btn.btn-block.btn-large.btn-primary(type="submit", value="Register")
