extends layout

block content
	.row-fluid
		.span8
			h1= title
			p Welcome to the B.C. Association of Aboriginal Friendship Centres' Social Innovation Conference Volunteer Sign-up center.
			h2 Current Volunteer Schedule