p Events listed from oldest to newest.
hr
table.table.table-hover
	thead
		tr
			th Time
			th Event
	tbody
		for event in group.log
			tr
				td #{new Date(event.date).toString()}
				td #{event.event}
hr