.container-fluid
	.row-fluid
		// Group Member Listing
		.span4
			h2 Members
			ul.nav.nav-tabs
				li.active
					a(href="#youth", data-toggle="tab") Youth
				li
					a(href="#youngAdults", data-toggle="tab") Young Adults
				li
					a(href="#chaperones", data-toggle="tab") Chaperones
			.tab-content(style="height: 200px;")
				.tab-pane.fade.active.in#youth
					ul.nav.nav-list
						for member in group.youth
							li
								a(href="##{member._id}")= member.name
				.tab-pane.fade#youngAdults
					ul.nav.nav-list
						for member in group.youngAdults
							li
								a(href="##{member._id}")= member.name
				.tab-pane.fade#chaperones
					ul.nav.nav-list
						for member in group.chaperones
							li
								a(href="##{member._id}")= member.name
			hr
			a(href='#add', data-toggle="modal") Add New...
		// Info on Selected Member
		.span8
			div(style="text-align:center; padding-top: 100px;")
				p.muted Please select a member from the list.

// The 'Add' modal.
include ../../elements/addMember.jade

script
	console.log($('body'));
