// This is the --inside-- of a model used in /admin/index.
form.form-horizontal(action="/api/nothing", method='post', style="margin-bottom: 0px")
	.modal-header
		.close(data-dismiss='modal', aria-hidden='true')
			| x
		h3#workshopLabel Add a Workshop
	.modal-body

		// Member Info
		fieldset
			legend Information
			.control-group
				label.control-label Name
				.controls
					input(type='text', name='name', required)
			.control-group
				label.control-label Host
				.controls
					input(type='text', name='host', required)
			.control-group
				label.control-label Description
				.controls
					textarea(type='text', name='description', cols="5", rows="5", required)
			.control-group
				label.control-label Day
				.controls
					select(name='day', required)
						option(value='1') 19th
						option(value='2') 20th
						option(value='3') 21st
						option(value='4') 22nd
			.control-group
				label.control-label Time
				.controls
					input(type='text', name='time', required)
			.control-group
				label.control-label Room
				.controls
					input(type='text', name='room', required)

	.modal-footer
		button.btn(data-dismiss='modal', aria-hidden='true') Cancel
		input.btn.btn-primary(type='submit', value='Do Nothing!!')